name = "cloudflare-worker-boilerplate"
main = "worker.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]



[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = false
